<% layout('layouts/app') %>
<div class="row mb-5">
  <h1 class="text-center">Edit Place</h1>
  <div class="col-6">
    <form
      action="/places/<%= place._id %>?_method=put"
      method="post"
      class="validation-form"
      enctype="multipart/form-data"
      novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="place[title]"
          id="title"
          class="form-control"
          value="<%= place.title %>"
          required />
        <div class="invalid-feedback">Please fill this.</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="place[location]"
          id="location"
          class="form-control"
          value="<%= place.location %>"
          required />
        <div class="invalid-feedback">Please fill this.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="place[description]"
          id="description"
          class="form-control">
<%= place.title %></textarea
        >
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          name="place[price]"
          id="price"
          class="form-control"
          value="<%= place.price %>"
          required />
        <div class="invalid-feedback">Please fill this.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          name="image"
          id="image"
          accept="image/*"
          multiple
          class="form-control" />
        <div class="invalid-feedback">Please fill this.</div>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>

  <% if(place.images.length > 0) {%>
  <div class="col-6">
    <h5 class="text-center">Delete Images</h5>
    <div class="form-grup form-check">
      <input type="checkbox" name="" id="checkAll" class="form-check-input" />
      <label for="checkAll" class="form-check label">Check All</label>
    </div>
    <form
      action="/places/<%= place._id %>/images?_method=Delete"
      method="post"
      class="d-flex flex-wrap">
      <% place.images.forEach((image, index)=>{ %>
      <div class="col-md-4">
        <div class="card mb-3">
          <img
            src="/images/<%= image.filename %>"
            alt=""
            class="card-img-top" />
          <div class="card-body">
            <label for="" class="custom-checkbox">
              <input
                type="checkbox"
                name="images[]"
                id=""
                value="<%= image.url %>" />
              <span class="custom-checkbox-text">Pilih</span>
            </label>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="w-100"></div>
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
  <% } %>
</div>

<script>
  document.getElementById("checkAll").addEventListener("change", function () {
    const checkboxes = document.getElementsByName("images[]");
    for (let index = 0; index < checkboxes.length; index++) {
      checkboxes[index].checked = this.checked;
    }
  });
</script>
